#footer {
    background-color: #f4f4f4;
    font-family: 'Inter', sans-serif;
    padding: 40px 30px 30px;
    margin-top: 20px;
    box-shadow: 0px -2px 8px rgba(192, 172, 172, 0.788);
    border-radius: 10px;
}

.logo-footer {
    color: #cd533b;
    width: 200px;
}

#divlogo{
    display: flex;
    align-items: center;
}
.logo-footer:hover{
    color: #8f3a29;

}


.logo-footer:active{
    width: 190px;
}

.h3footer{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #cd533b;
    margin-bottom: 15px;
}
  
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    max-width: 100%;
}
  

  
.pfooter, .afooter{
    font-size: 14px;
    color: #596475;
    text-decoration: none !important;
    line-height: 1.7;
    transition: color 0.3s ease;
    display: inline-block;
}

  
#footer .afooter:hover {
    font-weight: bold;
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}


.quick-tips {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-tips li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #596475;
}

.quick-tips li strong {
    color: #1d1d1d;
}

@media (max-width: 768px) {
    .footer-grid {
    text-align: center;
    }
    #divlogo{
        justify-content: center;    
    }
}

