*{
  margin: 0.5px;
}

.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background-color: #ffffff;
}

#th1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #cd533b;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #cd533b;
  width: 0ch;
  animation: typing 3.5s steps(31, end) forwards, blink 0.75s step-end infinite;
  padding: 10px 20px;
}

@keyframes typing {
  from { width: 0ch; }
  to { width: 25ch; }
}


@keyframes blink {
  0%, 100% { border-color: #cd533b; }
  50% { border-color: transparent; }
}

@media (max-width: 600px) {
  #th1 {
    font-size: 1.5rem;
    animation: typing 3.5s steps(25, end) forwards, blink 0.75s step-end infinite;
    width: 26ch;
  }
}

img#manutencao{
  display: flex;
  width: 500px;
  padding: 100px;
  margin: auto;
  align-items: center;
  justify-content: center;
}