/* Seus estilos permanecem os mesmos */
*{
    margin: 0;
    font-family: 'Inter';
    text-align: center;
    align-items: center;
    background: #f4f4f4;



}
body{
    color: black;

}



#logo-principal, #logo-instagram{
    width: 150px;
    margin: 20px auto;
    color: rgb(53, 53, 53)!important;

}
h1{
    font-family: 'Poppins';
    font-size: 20px;
    text-align: left;
    padding: 20px;


}
p{
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins';
    margin: 0 20px 20px 20px;
    hyphens: auto;


}

h2 {
    font-size: 20px;
    width: 50%;
    padding-top: 20px;
    
}
.story-feed{
    display: flex;
    text-align: center;
    align-items: center;
    
}



.frames {
    width: 50%;


    
}
.frame {
    height: 100px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid ;
    transition: transform 0.2s;
    margin: 10px;
}
.frame:hover, .frame.selected {
    border-color: #F4909E;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
#canvas {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    background: linear-gradient(60deg, #e0e0e2, #e9eaf7);
    margin: 20px;
    display: block;
    margin: auto;
    
}
button, label, input {
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #CD533B ;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
    box-shadow: 0 2px #997e87;
    background-color: #f4f4f4;
}

