/* Seus estilos permanecem os mesmos */
*{
    margin: 0;
    font-family: 'Inter';
}
#logo-principal, #logo-instagram{
    width: 150px;
    margin: 20px auto;
    color: rgb(53, 53, 53);

}
main{
    margin: 20px auto;
    padding: 20px;
    color: rgb(53, 53, 53);
    width: 100vw;

}
body main h1{
    font-family: 'Poppins';
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    color: rgb(53, 53, 53);




}
body main p{
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins';
    hyphens: auto;
    margin-bottom: 15px;
    text-indent: 20px; /* Ajuste o valor conforme necessário */
    color: rgb(53, 53, 53);



}

main label, main button {
    display: block ;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #CD533B ;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px #997e87;
    background-color: #f4f4f4;
    width: 80vw !important;
    font-size: 15px;
    color: rgb(53, 53, 53);

    margin: 20px auto;
}

body main h2 {
    font-size: 20px;
    width: 50%;    
}
main .story-feed{
    display: flex;
    text-align: center;
    align-items: center;
    
}



main .frames {
    width: 50%;


    
}
main .frame {
    height: 100px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid ;
    transition: transform 0.2s;
    margin: 10px;
}
main .frame:hover, main .frame.selected {
    border-color: #F4909E;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
main #canvas {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    background: linear-gradient(60deg, #e0e0e2, #e9eaf7);
    margin: 20px;
    display: block;
    margin: auto;
    
}


main .abrir-gerador{
    width: 100%;
}


